@import "./assets/reset.css";

:root {
  --white: #FFFFFF;
  --primary: #007298;
  --error: #FF0000;
  --basic: #CFCFCF;


  --background: #F7F7F7;

  --gap-xs: 8px;
  --gap-sm: 12px;
  --gap-md: 18px;
  --gap-lg: 24px;
  --gap-xl: 32px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F7F7F7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
