@mixin typography ($font-size, $font-weight, $line-heihgt) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-heihgt: $line-heihgt;
}

%heading3     { @include typography(32px, 700, 30px); }
%heading4     { @include typography(20px, 700, 32px); }
%heading5     { @include typography(20px, 700, 20px); }
%textCommon   { @include typography(16px, 400, 20px); }
%textBold     { @include typography(16px, 700, 20px); }
%textStandard { @include typography(16px, 400, 24px); }
%buttonCaps   { @include typography(16px, 700, 24px); }