.ant-transfer {
  justify-content: center;
  gap: 16px;
}

.ant-transfer-list-checkbox,
.ant-transfer-list-header-selected,
.ant-transfer .ant-transfer-operation {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


